.app {
  background-color: #1B1E1B;
  padding: 2% 8%;
  margin: 0;
}

.app-font {
  font-family: 'Poppins', sans-serif;
  margin: 0px 0px 20px;
}

ul {
  background-color: #1B1E1B;
  list-style: none;
  padding: 0;
}

p {
  margin: .5%;
  color:#a1a7b2;
}

.app-size {
  height: 200px;
}

.between-systems-spacing {
  margin-bottom: 3%;
}

.min-rec-font {
  font-size: 16px;
  color:#a1a7b2;
  padding-bottom: 15px;
}

.title {
  font-size: 16px;
  color: #a1a7b2;
  padding-bottom: 7px;
}

button {
  background-color: #1B1E1B;
  color: #a1a7b2;
  border: none;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 40px;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  font-size: 8px;
}

